@import "../../variables.scss";

.projects {
  grid-area: pop-up;
}

.projects__screenshot {
  cursor: pointer;
  max-height: 48vh;
  max-width: 70vw;
  margin: 0 auto;
}

.projects__heading {
  font-size: 2rem;
  grid-area: heading;
  padding: 0.2rem;
}

.projects__links {
  grid-area: links;
  padding: 1rem 2rem 0;

  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  max-width: 300px;

  .projects__github {
    padding-bottom: 1px;
    height: 30px;
  }

  .projects__info {
    height: 30px;
    cursor: pointer;
  }

  .projects__website {
    height: 30px;
  }
}

.hide {
  visibility: hidden;
}

@media (min-height: 700px) {
  .projects__screenshot {
    max-height: 55vh;
  }

  .projects__heading {
    padding: 0.5rem;
    font-size: 2.5rem;
  }
}
