.pop-up {
    // width: 120%;
    max-height: 350px;
    max-width: 200px;
    border-radius: 15px;
    margin: 0 auto;
    background-color: white;
    grid-area: screenshot;
    cursor: pointer;

    .pop-up__text {
        padding: 1rem 1rem 2rem;
        color: black;
        font-size: 12px;
        font-weight: 400;
    }

    .pop-up__list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        padding-bottom: 1rem;
    }

    .pop-up__img {
        max-width: 70px;
        max-height: 35px;
    }
    
    .pop-up__li {
        color: black;
        font-weight: 400;
    }
}
