.about {
    grid-area: main;
    font-size: 0.6rem;
    padding: 0 1rem 0;
    background-color: black;
    overflow:hidden;

    h1 {
        font-size: 1.5rem;
        padding-bottom: 0.5rem;
    }
    p {
        padding: 0.5rem;
    }

    .about__tech-header {
        padding: 0.5rem 0 0;
    }
}

.about__tech {
    overflow: auto;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 0.3rem;
}

.about__tech-li {
    display: grid;
    grid-template-rows: 1fr 1fr;
    margin: 0.2rem;
}

.about__tech-icons {
    margin: auto;
    max-height: 32px;
    max-width: 32px;
}

@media screen and (min-height: 700px) {
    .about {

        h2 {
            font-size: 16px;
        }

        p {
            font-size: 12px;
            padding-bottom: 1rem;
        }

        .about__tech-icons {
            max-height: 40px;
            max-width: 40px;
        }

    }
}

@media screen and (min-width: 700px) {
    .about {

        h1 {
            font-size: 2rem;
        }
        
        h2 {
            font-size: 18px;
        }
        
        p {
            font-size: 12px;
            max-width: 700px;
            margin: 0 auto;
        }
        
        ul {
            max-width: 700px;
            margin: 0 auto;
        }

        .about__tech-icons {
            max-height: 60px;
            max-width: 60px;
        }

    }
}