@import url('https://fonts.googleapis.com/css2?family=Yesteryear&display=swap');

.home {
    // background: pink;
    // height: 100%;
    // width: 100vw;
}

.home__projects {
    padding-top: 1rem;
    display: grid;
    grid-template-columns: 0.3fr 1fr 0.3fr;
    grid-template-rows: 0.4fr 0.6fr 0.1fr 0.15fr;
    grid-template-areas: 
    '. eatsy-screenshot .'
    'arrow-left eatsy-screenshot arrow-right'
    '. heading .'
    '. links .';
    // justify-content: space-between;
}

.arrow-left {
    grid-area: arrow-left;
    font-size: 4rem;
    font-weight: 400;
}

.arrow-right {
    grid-area: arrow-right;
    font-size: 4rem;
    font-weight: 400;
}

.eatsy-screenshot {
    max-height: 350px;
    grid-area: eatsy-screenshot;
    margin: 0 auto;
}

.home__heading {
    font-size: 2rem;
    grid-area: heading;
}

.home__links {
    grid-area: links;
    padding: 0 2rem;
    display: flex;
    justify-content: space-around;

    .home__github {
        padding-bottom: 1px;
        height: 30px;
    }
    
    .home__info {
        height: 30px;
        cursor: pointer;
    }
    
    .home__website {
        height: 30px;
    }
}
