@import url('https://fonts.googleapis.com/css2?family=Yesteryear&display=swap');

@mixin arrow {
    margin: 20vh 0;
    font-size: 4rem;
    font-weight: 400;
    font-family: "Poppins";
    cursor: pointer;
}
.home {
    background: pink;
    overflow: scroll;
    display: grid;
    grid-template-columns: 0.2fr 1fr 0.2fr;
    grid-template-areas: 
    'arrow-left screenshot arrow-right';
}

@keyframes black-pink {
    0% {
      background-color: black;
    }
    100% {
        left: 0;
      background-color: pink;
    }
  }

.home__projects {
    width: 100%;
    padding-top: 1rem;
    grid-area: screenshot;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: 
    'pop-up';
}

.arrow-left {
    grid-area: arrow-left;
    text-align: right;
    @include arrow();
}

.arrow-right {
    grid-area: arrow-right;
    text-align: left;
    @include arrow();
}