@import url('https://fonts.googleapis.com/css2?family=Yesteryear&display=swap');

.home {
    background: pink;
    // max-height: 55vh;
    // height: 100%;
    // width: 100vw;
}

.home__projects {
    max-width: 600px;
    margin: 0 auto;
    padding-top: 1rem;
    display: grid;
    grid-template-columns: 0.2fr 1fr 0.2fr;
    grid-template-rows: 0.4fr 0.2fr 0.6fr;
    grid-template-areas: 
    '. screenshot .'
    'arrow-left screenshot arrow-right'
    '. screenshot .';
    // justify-content: space-between;
}

.arrow-left {
    grid-area: arrow-left;
    font-size: 4rem;
    font-weight: 400;
    cursor: pointer;
}

.arrow-right {
    grid-area: arrow-right;
    font-size: 4rem;
    font-weight: 400;
    cursor: pointer;
}