.header {
    grid-area: header;
    padding-left: 1rem;
}

.header__signature {
    margin-top: 1rem;
    max-height: 90px;
}

@media (min-height: 600px) {
    .header {
        padding-top: 2rem;
    }
}