.header {
    grid-area: header;
    padding: 2rem 0 1rem;
    cursor: pointer;
}

.header__signature {
    margin-top: 1rem;
    max-height: 90px;
}

@media (min-height: 800px) {
    .header {
        padding: 4rem 0 1rem;
    }
}

// @media (min-width: 450px) {
//     .header {
        
//         h1 {
//             // font-size: 3rem;
//         }
//     }
// }

// @media (min-height: 600px) {
//     .header {
        
//     }
// }