.desktop-nav {
  grid-area: footer;
  color: black;
  padding-bottom: 0.5rem;
  display: flex;
  justify-content: center;
  cursor: pointer;

  div {
      font-size: 1.5rem;
      padding: 0 0.5rem;
    }
  div:hover {
  text-decoration: underline dotted;
  }
}

@media screen and (max-width: 599px) {
    .desktop-nav {
      display: none;
    }
  }