.desktop-nav {
    grid-area: footer;
    color: black;
    padding-bottom: 0.5rem;

    a {
        font-size: 1.5rem;
        padding: 0 0.5rem;
        
      }
      a:hover {
      text-decoration: underline dotted;
      }
}

@media screen and (max-width: 599px) {
    .desktop-nav {
      display: none;
    }
  }