.desktop-nav {
    grid-area: footer;
    color: black;

    a {
        font-size: 1.5rem;
        padding: 0 0.5rem;
    }
}

@media screen and (max-width: 599px) {
    .desktop-nav {
      display: none;
    //   background-color: pink;
    }
  }