@font-face{
    font-family: "disket-mono-regular-webfont";
    src: url("./fonts/Disket-Mono-Regular/disket-mono-regular-webfont.woff2"),
        url("./fonts/Disket-Mono-Regular/disket-mono-regular-webfont.woff")
        format("truetype");
  }

* {
    margin: 0;
    padding: 0;
    text-align: center;
    box-sizing: border-box;
    font-family: 'disket-mono-regular-webfont';
}
body {
    height: 100vh;
    color: white;
    background: linear-gradient(180deg, rgba(253,223,32,1) 0%, rgba(252,202,20,1) 74%, rgba(253,194,14,1) 100%);
}

.App {
    width: 200vw;
}

h1 {
    font-size: 2.8rem;
    // word-break: break-all;
    // width: 0.9em;
    // height: 100vh;
    // margin: 1rem 0;
    padding: 0 auto;
}